a {
  color: var(--primary-color);
  cursor: pointer;
  text-decoration: underline;
  font-size: 1.5rem;
  transition: all 0.5s;
  font-weight: 300;
  text-transform: capitalize;
  &:hover,
  &:focus,
  &:active {
    opacity: 0.5;
  }
}

button {
  cursor: pointer;
}
